###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

###> lexik/jwt-authentication-bundle ###
%CONFIG_DIR%/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
